<!DOCTYPE html>
<html>
<head>
  <title>Salve salve família</title>
  <link rel="shortcut icon" type="image/x-icon" href="public/favicon.ico"/>

  <style>
    body {
      background-color: #000;
    }
    .auxiliar {
      margin: 0 auto;
      padding: 70px 25px 0;
      max-width: 750px;
      min-width: 300px;
      box-sizing: border-box;
      text-align: center;
    }
  </style>  
</head>
<body>
  <div class="auxiliar">
    <a class="twitter-timeline" data-chrome="transparent" data-theme="dark" href="https://twitter.com/FlowBadges?ref_src=twsrc%5Etfw">Tweets by TwitterDev</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>  
  </div>
  
</body>
</html>
